body{
    background-color: rgba(216, 219, 221, 0.3);
}
h1{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
#options{
    float:left;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}
#grid-container{
    display: grid;
    width: 420px;
    height: 420px;
    margin-left: 35%;
    border: 2px solid black;
}
.cell{
    background-color: white;
}